.contenedor {
	display: grid;
	grid-gap: 20px;
	height: 700px;
	grid-template-columns: repeat(3, 150px);
	grid-template-rows: repeat(3, 150px);

	justify-content: center;
	/* normal | start | space-between | space-evenly | space-around | end */

	align-content: center;
	/* normal | start | space-between | space-evenly | space-around | end */
}
